@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #eff6ee;
    font-family: 'Overlock', sans-serif;
}

::selection {
    background-color: #dd0426;
    color: #EFF6EE;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

#header {
    overflow-y: hidden;
    height: 12vh;
    width: 100%;
    border-bottom: 1px solid #cacaca;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo,
.home-search-input,
.hamburger-menu {
    display: flex;
    padding: 20px;
}

.logo {
    font-size: 2rem; /* Reduced from 1.8rem */
    padding: 10px; /* Reduced from 20px */
    font-weight: 700;
    color: #bb031f;
}

.home-search {
    padding: 5px;
    border: 1px solid #273043;
}

.hamburger-menu {
    cursor: pointer;
}

.menu-link {
    height: 100vh;
    width: 100%;
    background-color: #eff6ee;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    transition: .3s ease;
}

.menu-link.active {
    right: 0;
    z-index: 1;
}

.menu-link a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #dd0426;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 30px;
    align-items: center;
    justify-content: center;
    transition: all .3 ease;
}

.menu-link a:hover {
    transform: scale(1.05);
}

.menu-link ul {
    list-style: none;
}

.close-menu {
    visibility: hidden;
    position: fixed;
    top: 25px;
    right: 25px;
}

.close-menu.visible {
    visibility: visible;
}

.text {
    font-size: 1.7rem;
    padding: 4rem;
    text-align: center;
    font-weight: 400;
}

/* BLACK HIGHLIGHT */
.highlight-text {
    color: #000;
    font-weight: 600;
}

/* Impact Text Section with Adjustments */
#impact-text .first {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    line-height: 1.5; /* Improved line spacing for readability */
}

/* Parent Container for the Button */
.button-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    /* Add any additional styling as needed */
}

/* Style for the User Feedback Button */
.user-feedback-button {
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adds some space above the button */
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #dd0426;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-feedback-button:hover {
    background-color: #bb031f; /* Slightly darker shade on hover */
}

/* FOOTER SECTION */
#footer {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
}

.home-hero-container {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    overflow-y: hidden;
    width: 200px; /* Reduced from 300px */
    height: 150px; /* Reduced from 200px */
    padding: 20px;
}

.call-to-action {
    display: flex;
    text-decoration: none;
    background-color: #273043;
    color: #EFF6EE;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 250px;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 60px;
    border-radius: 25px;
    transition: all .3 ease;
    box-shadow: 0px 10px 10px -3px grey; 
}

.call-to-action:hover {
    transform: scale(1.05);
}

#footer {
    display: flex;
    flex-direction: column; /* Keep the footer content stacked vertically */
    justify-content: center;
    align-items: center;
    height: 15vh; /* Reduced from 20vh */
    background-color: #273043;
    color: #EFF6EE;
    font-size: 1.1rem;
    margin-top: 40px;
}

#footer .footer-links {
    display: flex; /* Apply flex to align links side by side */
    justify-content: center; /* Center the links horizontally */
    background-color: #273043;
}

#footer a {
    margin: 0 10px; /* Horizontal spacing between links */
    color: #EFF6EE;
    text-decoration: none;
    background-color: #273043;
}

#footer p {
    margin-top: 10px;
    color: #eff6ee;
    text-align: center;
    background-color: #273043;
    padding-bottom: 2vh;
}

/* CARDS */
.cards1,
.cards2 {
    padding-top: 8vh;
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card1,
.card2 {
    margin: 0 20px;
    border: 1px solid #cacaca;
    height: 13vh;
    width: 12vh;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center content horizontally */
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: #273043;
    box-shadow: 0 2px 7px -4px grey;
    transition: all .3 ease;
}

.card1:hover,
.card2:hover {
    transform: scale(1.05);
}

#questionnaire {
    display: flex;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

#question {
    display: flex;
    margin-bottom: 20px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-button {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    justify-content: center;
    font-size: 1rem;
}

#progress {
    margin-bottom: 20px;
    font-style: italic;
}

#result {
    font-size: 1.3rem;
    color: #dd0426;
}

/* CHARTS */
.charts-text {
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
}

.highlight-red {
    color: #dd0426;
    font-weight: 800;
    font-size: 1.3rem;
}